<%= render partial: "devise/shared/header"%>

<div class="main">
  <div class="form-area">
  </div>
  <div class="shop-area">
    <div class="shop">
      <div class="title">レストラン一覧</div>
    </div>
    <div class="serch-value"></div>
    <div class="shop-group">
      <div class="shop-list"></div>
    </div>
  </div>
</div>

<%= render partial: "devise/shared/footer"%>