<header class="admin-header">
  <div class="admin-title-box">
     <a href="#">管理者用ページ </a>
  </div>
  <div class="root-button">
  <div class="sign-button"><%= link_to 'トップページ', root_path, class: "signout button" %></div>
  </div>
</header>