<%= render "devise/shared/admin-header"%>

<div class="adimin-main">
  
  <div class="menu-main">
    <div class="menu-list">
      <div class="menu"><%= link_to 'ショップ情報を追加', new_admin_restaurant_path, class: "add-shop button" %></div>
      <div class="menu"><%= link_to 'ユーザー情報を管理', new_admin_restaurant_path, class: "admin-user button" %></div>
    </div>
  </div>
  
</div>

