<%= render partial: "devise/shared/header"%>
<div class="main update">
  <div class="complete">
      <h3>編集が完了しました。</h3>
      <div class="update-button">
        <%= link_to '店舗詳細ページに戻る', shop_path(@shop), class: "admin-button" %>
      </div>
  </div>
</div>