
.input-headline {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px; 
}

.profile {
  height: calc( 1.3em * 5 );
  line-height: 1.3;
}

.add-shop-btn {
  margin-top: 20px;
  width: 100%;
  background: #c04c09;
  border-radius: 10px;
  color: #fff;
  line-height: 48px;
  font-size: 13px;
  cursor: pointer;
}

.checkbox-list input[type="checkbox"] {
  display: inline-block;
  width: 10%;
}

.checkbox-list input[type="checkbox"] + label {
  display: inline-block;
  margin-left: 10%;
  width: 80%;
}